// Here you can add other styles
.carosal{
    margin: 20px !important;
}
.mar_top20{
    margin-top: 20px !important;
}
.mar_right20{
    margin-right: 20px !important;
}
.dispalyFlex{
    display: flex !important;
    
}
.overflowAuto{
    overflow-x: auto !important
}