html{
    //position: relative;
}

body, html {
    height: 100%;
  }

  #root{
      overflow-y: scroll;
      height: 100%;
  }

 button:focus{
     outline: none;
 } 

.mty{
    //color: rgb(250, 112, 112);
}
 .labelError{
     margin-bottom: 0;
     color: red;
     font-size: 14px;
 }
 .error{
     background-color: #f9e9e9;
     border: 1px solid red;
 }


  .nav-tabs .nav-link.active{
    //border-bottom: 1px solid;
    border-color:#fff #fff #111
 }

 .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
     border-color:#fff #fff #111
 }

.ShadowBox{
    box-shadow: 0px 0px 10px 0px #aaa;
}
.borderBottom{
    border-bottom: 1px solid #eee;
}
.caption{
    font-size: 25px !important; 
}
.adjustRow{
    padding-left: 0 !important; 
    padding-right: 0 !important; 
}

.floatRight{
    float: right;
}
.textAlignCenter{
    text-align: center;
}
.textAlignRight{
    text-align: right;
}

//margin
.m10{
    margin: 10px;
}
.mb5px{
    margin-bottom: 5px;
}
.mb15px{
    margin-bottom: 15px;
}
.mb20px{
    margin-bottom: 20px;
}
.mb30px{
    margin-bottom: 30px;
}
.mt20{
    margin-top: 20px;
}
.mt33{
    margin-top: 33px;
}
.mt40{
    margin-top: 40px;
}
.mt80{
    margin-top: 80px;
}

//padding
.p10{
    padding: 10px;
}
.p20{
    padding: 20px;
}
.p40{
    padding: 40px;
}
.pb15px{
    padding-bottom: 15px;
}





.subHeaderCon{
    .ul{
        list-style: none;
        padding: 0;
        border-bottom: 1px solid #aaa;
    }
    
    .li .a{
        text-decoration: none;
        color: black;
        padding: 15px 20px;
        display: inline-block;
        cursor: pointer;
        border-bottom: 2px solid #fff;
    }
    .li .a:hover{        
        border-bottom: 2px solid #222;
    }
    .sul{
        z-index: 1;
        width: max-content;
        list-style: none;
        position: absolute;
        background-color: white;
        border: 1px solid #eee;
        padding: 0px;
    }
    .sli {
        padding: 10px 20px;
        a{
            cursor: pointer;
            text-decoration: none;
            color: black;
        }
    }
    .sli:hover{
        background-color: #eee;
    }

        ul {
            list-style: none;
        }
        
        ul li {
            display: block;
            position: relative;
            float: left;
        }

        li ul { display: none; }


        li:hover > ul {
            display: block;
            position: absolute;
        }
        
        li:hover li { float: none; }
        
        ul ul ul {
            left: 100%;
            top: 0;
        }

        ul:before,
        ul:after {
        content: " "; /* 1 */
        display: table; /* 2 */
        }

        ul:after { clear: both; }
}
