.listCon{
    border-bottom: 1px solid #ccc;
}
.conPad{
    padding: 20px 0;
}
.totalCon{
    color: #666;
    background-color: #fff;
    border:1px solid #ccc;
    padding:20px 10px
}
.priceRow{
    margin: 0;
    border-bottom: 1px solid #ccc;
}
.margin0{
    margin: 0;
}
.padding{
    padding: 10px 0;
}