.proCon{
    //padding:10px;
    margin: 10px 0;
    .offer{
        font-size: 15px;
        color:#02b3ff
    }
    .img{
        height: 150px;
    }
    .Addbtn{
        margin: 10px;
        background-image: linear-gradient(to bottom right, #0252ff, #02ffff);
    }
    button{
        outline: none;
    }
}