.inputBox{
    width: 100%;
}

.customLabel{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}

.SecondryBtn,.primaryBtn:hover{
    outline: none;
    padding: 5px 20px;
    color: #111;
    background-color: white;
    border: 1px solid #666;
}
.primaryBtn,.SecondryBtn:hover{
    outline: none;
    padding: 5px 20px;
    color: #fff;
    background-color: #666;
    border: 1px solid #666;
}

.tagClass{
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #ddd;
}
